<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%=image_tag(@user.avatar)%>
<%=@user.name%>
<!-- this is the user home page -->
<!-- Welcome User Name -->
<!-- User Image -->
<!-- user courses -->
	<!-- <span>course name</span> <span>progress bar</span> -->
<!-- course links div -->
	<!-- completed lessons (as links to lesson show page) -->
	<!-- uncompleted lessons (as links to lesson show page)-->

	<%= link_to "Logout", logout_path %>