<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        word-wrap: break-word;
        height: 500px;
        width: 500px
    }
</style>
</head>
<body>

<div id="editor">
    
</div>
<button onclick="checkForm()">submit</button>

    
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_blue");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWrapMode(true);
</script>
</body>
</html>