/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$pop-blue: #089CFE;
$compl: #6691AA;
$drk-navy: #2A2C54;
$drk-gry: #767F91;
$lt-gry: #BFC8CF;
$hlite: #F4F8F9;
$df-font: 'Poppins';

#logo{
	font-family: 'Allerta Stencil';
}
.navbar{
	margin-bottom: 6%;
}
.logolnk{
	background: -webkit-linear-gradient(#F4F8F9, #089CFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 45px;
	font-family: "Allerta Stencil";
	height: 55px;
}
.logolnk:hover{
		text-decoration: none;
}
.bkgd1{
	background: url("/trench.png") fixed no-repeat !important;
	background-size: cover;
}
.bkgd2{
	background: url("/trench.png") fixed no-repeat !important;
	background-size: cover;
}
#flash_notice, #flash_awesome, #flash_success, #flash_fail, #flash_miss{
	width: 23%;
	height: 5%;
	background: $pop-blue;
	border: 1px solid $hlite;
	color: $hlite;
	font-family: $df-font;
	border-radius: 1em 1em; 
	position: fixed;
	top: 95px;
	left: 29px;
	text-align: center;
	padding-top: 1%;
}
