// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor { 
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    word-wrap: break-word;
    height: 400px;
    width: 750px;
    border: 3px solid #089CFE;
}

#answer{
  visibility: hidden;
}

#content{
  visibility: hidden;
}
#content-box{
    height: 600px;
    overflow: scroll;
    margin-left: 3%;
    background: #767F91;
    border: 3px solid #089CFE;
    margin-right: 6%;
    color: #F4F8F9;
}
#crsname{
    font-family: 'Allerta Stencil';
}
#chal-title{
    font-family: 'Permanent Marker';
    margin-left: 5%;
    color: #AFDFFF;
}
#chal-lesson, #chal-instruct, #chal-problem{
    font-family: 'Poppins';
    font-size: 15px;
}
::-webkit-scrollbar{
   display: none;
}
.cword{
    color: #AFDFFF;
}