// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pop-blue: #089CFE;
$compl: #6691AA;
$drk-navy: #2A2C54;
$drk-gry: #767F91;
$lt-gry: #BFC8CF;
$hlite: #F4F8F9;
$df-font: 'Poppins';


#editor { 
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    word-wrap: break-word;
    height: 400px;
    width: 750px;
    border: 3px solid #089CFE;
}

#answer{
  visibility: hidden;
}

#content{
  visibility: hidden;
}
#content-box{
    height: 608px;
    overflow: scroll;
    margin-left: 3%;
    background: #767F91;
    border: 3px solid #089CFE;
    margin-right: 6%;
    color: #F4F8F9;
    border-radius: 1em 1em;
}
#crsname{
    font-family: 'Allerta Stencil';
}
#chal-title{
    font-family: 'Permanent Marker';
    margin-left: 5%;
    color: #AFDFFF;
}
#chal-lesson, #chal-instruct, #chal-problem{
    font-family: 'Poppins';
    font-size: 15px;
}
::-webkit-scrollbar{
   display: none;
}
.cword{
    color: #AFDFFF;
}

#twilioMessenger { 
    position:relative; 
    left:-13px;
}

#messages{
    height: 150px;
    overflow: scroll;
    border: 1px solid #ddd;
    width: 750px;
    position: relative;
    left: -15px;
    background: rgba(19,42,71,0.7);
}

.chat-user{
    color: $pop-blue;
}

#chat-input{
    position: relative;
    left: -15px;
    width: 750px;
}

.newMessage{
    position: relative;
    left:3px;
}

.newMessageBody{
    position: relative;
    left:3px;
    color: $hlite;
    font-family: $df-font;
}

#showHideMessenger{
    color: $hlite;
    font-size: 20px;
    font-family: 'Allerta Stencil';
}

button:focus{
    outline: 0;
}

#nextLink{
    color: $lt-gry;
    font-size: 16px;
    font-family: $df-font;
}
