// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb{
  height:150px;
  width:150px;
}

.courseHolder{
  width: 150px
}
.logolnk2{
	background: -webkit-linear-gradient(#F4F8F9, #089CFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 45px;
	font-family: "Allerta Stencil";
	height: 55px;
	margin-top: -100px;
}
.logolnk:hover{
		text-decoration: none;
}