/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
$pop-blue: #089CFE;
$compl: #6691AA;
$drk-navy: #2A2C54;
$drk-gry: #767F91;
$lt-gry: #BFC8CF;
$hlite: #F4F8F9;
$df-font: 'Poppins';

button{
	background: transparent;
	border: none;
}
button:focus{
    outline: 0;
}
.homeimg{
	width: 250px;
	border: 2px solid $hlite;
	border-radius: 1em 1em;
	background: $drk-gry;
}
#user-content-box{
	margin-left: 31%;
}
.topbox{
	height: 340px;
	margin-right: 50%;
	margin-left: 38%;
}
.topbox2{
	height: 340px;
	margin-right: 50%;
	margin-left: 44%;
}
#botbox{
	background: rgba(191,200,207,0.2);
	border: 2px solid $drk-gry;
	border-radius: 2em 2em;
	margin-left: 28%;
	margin-top: -15px;
}
#wel-name{
	color: $pop-blue;
	font-family: 'Permanent Marker';
	margin-left: -30px; 
}
#username{
	color: $pop-blue;
	font-family: $df-font;
}
.coursename{
	font-family: 'Allerta Stencil';
	color: $hlite;
	width: 100%;
	margin-left: 18%;	
}
progress{
	background-color: $pop-blue;
	border: 0;
	height: 15px;
	width: 450px;
	border-radius: 9px;
	margin-left: 15%;
}
progress::-webkit-progress-bar{
	background-color: $lt-gry;
	border-radius: 9px;
}
progress::-webkit-progress-value{
	background-color: $pop-blue;
	border-radius: 9px;
}
.challenge{
	display: block;
	color: $compl !important;
	font-size: 20px;
	font-family: $df-font;
	margin-left: 17%;
}
.incomplete{
	display: block;
	color: $pop-blue;
	font-size: 20px;
	font-family: $df-font;
	margin-left: 29%;
}
#tocomplt-box{
	margin-left: 4%;
}
.cl-lnk{
	color: $drk-gry;
	font-size: 15px;
	margin-left: 28%;
	font-family: $df-font;
}
.takeclass{
	color: $hlite;
	font-size: 20px;
	font-family: $df-font;
	margin-left: -1%;
}
#edttitle{
	font-family: 'Permanent Marker';
	color: $lt-gry;
	margin-left: 46%;
	font-size: 36px;
}
.editfrm{
	margin-left: 33%;
	margin-top: 3%;
}
.imgup{
	margin-left: 24%;
}
.bday select:nth-child(1){
  width: 32%;
 	height: 35px;
  text-indent: 15px;
  margin-bottom: 3%; 
  background: white;
}
.bday select:nth-child(2) {
  width: 33%;
  height: 35px;
  text-indent: 5px;
  background: white;
}
.bday select:nth-child(3) {
  width: 32%;
  height: 35px;
  text-indent: 15px;
  background: white;
}
.dlt{
	width: 19%;
}
.dltlnk{
	color: white;
}
#dltbox{
	width: 38%;
	margin-left: 38%;
	padding-top: 20%;
}
#dlt-form{
	margin-left: 4%;
}
#dlt-sure{
	font-size: 35px;
	font-family: $df-font;
	color: $hlite;
}
#confirm-h2{
	color: $lt-gry;
}