/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html{
	background-color: black;
}
body{
	background: black !important;
}
button{
	background: transparent;
	border: none;
}