/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
$pop-blue: #089CFE;
$compl: #6691AA;
$drk-navy: #2A2C54;
$drk-gry: #767F91;
$lt-gry: #BFC8CF;
$hlite: #F4F8F9;
$df-font: 'Poppins';

button{
	background: transparent;
	border: none;
}
.homeimg{
	width: 250px;
	border: 2px solid white;
	border-radius: 1em 1em;
}
#user-content-box{
	margin-left: 31%;
}
#topbox{
	height: 340px;
	margin-right: 50%;
	margin-left: 38%;
}
#botbox{
	background: rgba(191,200,207,0.2);
	border: 2px solid $drk-gry;
	border-radius: 2em 2em;
	margin-left: 28%;
	margin-top: -15px;
}
#wel-name{
	color: $pop-blue;
	font-family: 'Permanent Marker';
	margin-left: -30px; 
}
#username{
	color: $pop-blue;
	font-family: $df-font;
}
progress{
	background-color: $pop-blue;
	border: 0;
	height: 15px;
	width: 250px;
	border-radius: 9px;
}
progress::-webkit-progress-bar{
	background-color: $lt-gry;
	border-radius: 9px;
}
progress::-webkit-progress-value{
	background-color: $pop-blue;
	border-radius: 9px;
}
.challenge{
	display: block;
	color: $compl !important;
	font-size: 20px;
	font-family: $df-font;
	margin-left: 14px;
}
.incomplete{
	display: block;
	color: $pop-blue;
	font-size: 20px;
	font-family: $df-font;
	margin-left: 20px;
}
#tocomplt-box{
	margin-left: 4%;
}
.cl-lnk{
	color: $drk-gry;
	font-size: 15px;
	margin-left: -8px;
	font-family: $df-font;
}
.takeclass{
	color: $hlite;
	font-size: 20px;
	font-family: $df-font;
	margin-left: -1%;
}